.fp {
	background-color: rgba(27, 27, 50, 0.8);
	width: 600px;
	height: 1100px;
	border-style: none;
	border-radius: 1%;
}

.full {
	margin-left: 450px;
}

#te {
	font-family: sans-serif;
	color: white;
	font-size: large;
	margin-left: 40px;
	font-family: sans-serif;
}

#bo {
	height: 30px;
	border-radius: 3%;
	background-color: white;
	border-style: none;
	width: 500px;
	font-size: medium;
	margin-left: 40px;
}

#op {
	font-weight: bold;
	font-family: sans-serif;
	color: white;
	font-size: large;
	margin-left: 40px;
}

#but {
	width: 500px;
	height: 50px;
	margin-left: 40px;
	background-color: #37af65;
	color: white;
	font-weight: bold;
	border-style: none;
}

#ta {
	margin-left: 40px;
	background-color: white;
}

body {
	background-image: url('images/survey-form-background.jpeg');
}